<script type="text/javascript">
  $(function (){
     $(document).on("change","#events_name", function (){
        window.history.pushState("", "", + this.value);
        $.ajax({ url: this.value + "/edit" });
        $.ajax({ url: "../event_attendance/" + this.value + "/edit" }); 
     });
     $(document).ready(function (){
        var id = <%= @event.id %>;
        $.ajax({ url: id + "/edit" });
        $.ajax({ url: "../event_attendance/" + id + "/edit" });
     });
  });
</script>

<div class="main">
    <h1>Events</h1>
    <div id="new"><%= render "new" %></div>
    <div id="edit"></div>
    <div id="attendance"></div>
</div>