<script type="text/javascript">
  $(function (){
     $(document).on("change","#members_name", function (){
        $.ajax({ url: this.value + "/edit" });
     });
  });  

  $(function (){
     $(document).ready(function (){
        var id =$('#members_name').val();
        $.ajax({ url: id + "/edit" });
     });
  });   
</script>

<div id="member">
    <%= select("members", "name", Member.order('id DESC').all.collect {|p| [ p.name, p.id ] }, { include_blank: false }) %>
    <div id="<%= "edit-details" %>"></div>
</div>

